#Database Configuration
DB_DRIVER=postgresql+asyncpg
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

#Oauth Middleware Configuration
SECRET_KEY=

#Google Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#Github Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

#Frontend Configuration
FRONTEND_URL=http://127.0.0.1:8000

